<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Materiales asignados a evaluar</title>
    <link rel="stylesheet" th:href="@{/css/materiales.css}">
</head>
<body>
<h1>Materiales asignados a evaluar</h1>
<div th:if="${materiales?.size() > 0}" class="materials-container">
    <div th:each="material, iterStat : ${materiales}" class="material-card">
        <h3 th:text="${material.titulo}"></h3>
        <p th:text="${material.descripcion}"></p>
        <img th:src="@{'/materiales-participantes/' + ${material.id} + '/preview'}" alt="Preview">
        <div class="card-footer">
            <a th:href="@{/evaluador/materiales/asignados/{id}(id=${material.id})}">Ver Material</a>
            <p><strong>Evaluado por mi:</strong> <span th:text="${hasUserEvaluated[iterStat.index] ? 'Sí' : 'No'}"></span></p>
        </div>
    </div>
</div>
<p th:unless="${materiales?.size() > 0}">No tienes materiales asignados.</p>
</body>
</html>