<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <title>Panel del evaluador</title>
</head>
<body>
<h1>Bienvenido al panel del evaluador</h1>

<ul>
    <li><a th:href="@{/evaluador/materiales/asignados}">Ver materiales asignados a evaluar</a></li>
    <li><a th:href="@{/materiales-participantes}">Ver materiales participantes</a></li>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Cerrar sesión">
    </form>
</ul>
</body>
</html>