<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Administradores Registrados</title>
</head>
<body>
<h1>Administradores Registrados</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Email</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="admin : ${administradores}">
        <td th:text="${admin.id}"></td>
        <td th:text="${admin.nombre}"></td>
        <td th:text="${admin.apellido}"></td>
        <td th:text="${admin.email}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>