<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Evaluadores Registrados</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<h1>Evaluadores Registrados</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Email</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="evaluador : ${evaluadores}">
        <td th:text="${evaluador.id}"></td>
        <td th:text="${evaluador.nombre}"></td>
        <td th:text="${evaluador.apellido}"></td>
        <td th:text="${evaluador.email}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>