<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Materiales Pendientes de Evaluacion</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<h1>Materiales Postulados Pendientes de Evaluacion</h1>
<table th:if="${materiales}">
    <thead>
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Disciplina</th>
        <th>Tipo de Material</th>
        <th>Concursante que postula</th>
        <th>Autores</th>
        <th>Evaluadores</th>
        <th>Falta Evaluacion de</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="material : ${materiales}">
        <td th:text="${material.id}"></td>
        <td th:text="${material.titulo}"></td>
        <td th:text="${material.descripcion}"></td>
        <td th:text="${material.disciplina}"></td>
        <td th:text="${material.tipoMaterial}"></td>
        <td th:text="${material.concursante}"></td>
        <td th:text="${material.autores}"></td>
        <td>
            <ul>
                <li th:each="evaluador : ${material.evaluadores}">
                    <span th:text="${evaluador.nombre} + ' ' + ${evaluador.apellido} + '. '"></span>
                </li>
            </ul>
        </td>
        <td>
            <ul>
                <li th:each="evaluador : ${evaluadoresPendientes.get(material)}">
                    <span th:text="${evaluador.nombre} + ' ' + ${evaluador.apellido} + '. '"></span>
                </li>
            </ul>
        </td>
    </tr>
    </tbody>
</table>
<p th:unless="${materiales}">No hay materiales pendientes de evaluacion</p>
</body>
</html>
