<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Panel del administrador</title>
</head>
<body>
<h1>Bienvenido al panel del administrador</h1>

<ul>
    <li><a th:href="@{/administrador/materiales/all}">Listado de todos los Materiales</a></li>
    <li><a th:href="@{/administrador/materiales/pendientes-de-aprobacion}">Listado de Materiales Pendientes de Aprobación</a></li>
    <li><a th:href="@{/administrador/materiales/pendientes-de-evaluacion}">Listado de Materiales Pendientes de Evaluación</a></li>
    <li><a th:href="@{/administrador/evaluadores/asignar-material}">Asignar Material a Evaluador</a></li>
    <li><a th:href="@{/administrador/register/evaluador}">Registrar Evaluador</a></li>
    <li><a th:href="@{/administrador/register/admin}">Registrar Administrador</a></li>
    <li><a th:href="@{/administrador/profile}">Ver mi perfil</a></li>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Cerrar sesión">
    </form>
</ul>
</body>
</html>