<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Panel de Administrador</title>
    <link rel="stylesheet" th:href="@{/css/panel.css}">
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            let menuItems = document.querySelectorAll('.with-submenu');

            menuItems.forEach(function(item) {
                item.addEventListener('click', function() {
                    let submenu = this.querySelector('ul');
                    submenu.classList.toggle('show-submenu');
                });
            });
        });
    </script>
</head>
<body>
<div class="header">
    <span>Bienvenido Administrador!</span>
</div>

<nav class="menu">
    <ul>
        <li class="with-submenu">
            <a th:href="@{/}" target="_self" title="Materiales">Materiales</a>
            <ul>
                <li><a th:href="@{/administrador/materiales/all}" target="_self">Ver Todos</a></li>
                <li><a th:href="@{/administrador/materiales/pendientes-de-aprobacion}" target="_self">Pendientes de Aprobación</a></li>
                <li><a th:href="@{/administrador/materiales/pendientes-de-evaluacion}" target="_self">Pendientes de Evaluación</a></li>
                <li><a th:href="@{/administrador/evaluadores/asignar-material}" target="_self">Asignar a Evaluador</a></li>
            </ul>
        </li>
        <li class="with-submenu">
            <a th:href="@{/}" target="_self" title="Registrar">Registrar</a>
            <ul>
                <li><a th:href="@{/administrador/register/admin}" target="_self">Administrador</a></li>
                <li><a th:href="@{/administrador/register/evaluador}" target="_self">Evaluador</a></li>
            </ul>
        </li>
        <li class="with-submenu">
            <a th:href="@{/}" target="_self">Ver</a>
            <ul>
                <li><a th:href="@{/administrador/profile}" target="_self">Perfil de Usuario</a></li>
                <li><a th:href="@{/administrador/usuarios/all}" target="_self">Todos los Usuarios</a></li>
            </ul>
        </li>
        <li><a th:href="@{/administrador/logout}" target="_self">Cerrar Sesión</a></li>
    </ul>
</nav>
</body>
</html>
