<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registro de Evaluador</title>
    <link rel="stylesheet" th:href="@{/css/form.css}">
</head>
<body>
<h1>Registro de Evaluador</h1>

<!-- Formulario de Registro -->
<form th:action="@{/administrador/register-evaluador}" th:object="${evaluador}" method="post">
    <fieldset>
        <legend>Datos del usuario</legend>
        <table>
            <tr>
                <td><label>Nombre: </label></td>
                <td><label>
                    <input type="text" th:field="*{nombre}"/>
                </label></td>
            </tr>
            <tr>
                <td><label>Apellido: </label></td>
                <td><label>
                    <input type="text" th:field="*{apellido}"/>
                </label></td>
            </tr>
            <tr>
                <td><label>Correo: </label></td>
                <td><label>
                    <input type="text" th:field="*{email}"/>
                </label></td>
            </tr>
            <tr>
                <td><label>Contraseña: </label></td>
                <td><label>
                    <input type="password" th:field="*{password}"/>
                </label></td>
            </tr>

                <td>
                    <button type="submit">Registrarse</button>
                </td>
            </tr>
        </table>
    </fieldset>
</form>
    <td>
        <a th:href="@{/administrador/index}" method="post">
        <input type="submit" value="Cerrar sesión">
        </a>
    </td>
    <td>
        <a th:href="@{/administrador/evaluadores-registrados}" method="post">
            <input type="submit" value="Ver Evaluadores Registrados">
        </a>
    </td>


</body>
</html>