<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Descripcion del Evaluador</title>
</head>
<body>
<h1>Descripcion del Evaludor</h1>
    <tr>
        <div><h4>Nombre:</h4> <td th:text="${ev.getNombre()}"></td>
            <h4>Apelido:</h4> <td th:text="${ev.getApellido()}"></td>
            <h4>Email:</h4> <td th:text="${ev.getEmail()}"></td>
            <h4>Rol:</h4> <td th:text="${ev.getRol().toString()}"></td>
        </div>
    </tr>
    <td>
        <form th:action="@{/administrador/panel-administrador}" method="post">
            <input type="submit" value="Volver al Panel">
        </form>
    </td>
</body>
</html>