body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 20px;
}

.materials-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.material-card {
    width: calc(33.33% - 20px);
    margin: 20px 10px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
}

.card-footer p {
    margin: 0;
}

.material-card:hover {
    transform: translateY(-5px);
}

.material-card h3 {
    color: #333;
    margin-bottom: 10px;
}

.material-card p {
    margin: 10px 0 15px;
}

.material-card strong {
    font-weight: bold;
}

.material-card a {
    color: #45A4D2;
    text-decoration: none;
    transition: color 0.3s ease;
    margin-top: auto;
}

.material-card a:hover {
    color: #007bb5;
}

.material-card img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.material-card img, .material-card p, .material-card a {
    max-width: 100%;
    overflow-wrap: break-word;
}

@media screen and (max-width: 800px) {
    .material-card {
        width: calc(50% - 20px);
    }
}

@media screen and (max-width: 600px) {
    .material-card {
        width: calc(100% - 20px);
    }
}