<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detalles del Material</title>
    <link rel="stylesheet" th:href="@{/css/detalle-material.css}">
</head>
<body>

<section class="material-details">
    <h1>Detalles del Material</h1>

    <p><strong>Título:</strong> <span th:text="${material.titulo}"></span></p>
    <img th:src="@{'/materiales-participantes/' + ${material.id} + '/preview'}" alt="Preview">
    <p><strong>Descripción:</strong> <span th:text="${material.descripcion}"></span></p>
    <p><strong>Tipo de Material:</strong> <span th:text="${material.tipoMaterial}"></span></p>
    <p><strong>Disciplina:</strong> <span th:text="${material.disciplina}"></span></p>
    <p><strong>Autores:</strong> <span th:text="${material.autores}"></span></p>
    <p><strong>Video presentación:</strong> <a th:href="${material.urlVideoPresentacion}">Ver video</a></p>
    <p><strong>Material:</strong> <a th:href="@{'/view/' + ${material.id}}" target="_blank">Ver PDF</a></p>
    <p><strong>Likes:</strong> <span th:text="${material.likes}"></span></p>
    <form th:if="${votacionAbierta}"
          th:action="@{/materiales-participantes/{idmaterial}/like(idmaterial=${material.id})}" method="post">
        <button type="submit">Like</button>
    </form>
</section>

</body>
</html>
