<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Página sin título</title>
    <link rel="stylesheet" th:href="@{/css/panel.css}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Descripcion Del Concurso De Materiales Educativos</title>
    <style>
        .popup {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: white;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
            z-index: 9999;
        }
    </style>
</head>
<body>
<div class="header">
    <span th:if="${ultimaEdicion != null}" th:text="'Bienvenido al Concurso De Materiales Educativos! ' + ${ultimaEdicion} + ' año: ' + ${anio}"></span>
    <span th:if="${ultimaEdicion == null}">Bienvenido al Concurso De Materiales Educativos!</span>
</div>

<nav class="menu">
    <ul>
        <li>
            <a href="#">Acerca del CED</a>
            <ul>
                <li class="with-submenu">
                    <a href="#" id="abrirPopup">¿Qué es el CED?</a>
                </li>
                <li class="with-submenu">
                    <a href="#">Ediciones anteriores</a>
                    <ul>
                        <li th:if="${ultimaEdicion != null && concursosAnteriores?.size() > 0}">
                            <a href="#" target="_self">Ediciones anteriores</a>
                            <ul th:each="concurso : ${concursosAnteriores}">
                                <li>
                                    <a href="#" th:text="${concurso.edicion}"></a>
                                    <ul>
                                        <li><a th:href="@{'/materiales-participantes/' + ${#strings.replace(concurso.edicion, ' ', '-')}}" target="_self">Materiales que participaron</a></li>
                                        <li><a th:href="@{'/materiales-ganadores/' + ${#strings.replace(concurso.edicion, ' ', '-')}}" target="_self">Materiales ganadores</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a href="https://wite.unnoba.edu.ar/concurso-ced/">II Edición</a></li>
                        <li><a href="https://educaciondigital.unnoba.edu.ar/concurso-de-diseno-de-materiales-educativos-digitales-2021/">I Edición</a></li>
                    </ul>
                </li>
            </ul>
        </li>

        <!-- Sección de materiales participantes -->
        <li th:if="${ultimaEdicion != null}">
            <a th:href="@{'/materiales-participantes/' + ${#strings.replace(ultimaEdicion, ' ', '-')}}" target="_self" title="Materiales">Ver materiales participantes</a>
        </li>
        <li th:unless="${ultimaEdicion != null}">
            <a href="#">Ver materiales participantes</a>
        </li>

        <li><a th:href="@{/participar}" target="_self">Participar</a></li>
        <li><a th:href="@{/login}" target="_self">Iniciar sesión</a></li>
    </ul>
</nav>
<div id="miPopup" class="popup">
    <p>Concurso de Diseño
        de materiales educativos</p>
    <p><span>OBJETIVO</span>
        Reconocer y estimular a docentes innovadores para impulsar espacios educativos creativos y promover el aprendizaje colaborativo entre pares.</p>
    <p><span>TEMÁTICA</span>
        Los participantes pueden presentar uno o varios materiales digitales originales que cumplan las condiciones del concurso.</p>
    <p><span>DESTINATARIOS</span>
        Docentes de todas las carreras y niveles, presentando materiales individualmente o en equipos de hasta cinco personas, siendo de la misma asignatura o curso.</p>
    <button onclick="cerrarPopup()">Cerrar</button>
</div>
</body>
<script>
    // Función para abrir la ventana emergente
    function abrirPopup() {
        document.getElementById("miPopup").style.display = "block";
    }

    // Función para cerrar la ventana emergente
    function cerrarPopup() {
        document.getElementById("miPopup").style.display = "none";
    }

    // Manejar el evento clic del enlace para abrir la ventana emergente
    document.getElementById("abrirPopup").addEventListener("click", function(event) {
        event.preventDefault(); // Evita que el enlace redireccione
        abrirPopup();
    });

    // Manejo del despliegue de submenús
    document.addEventListener('DOMContentLoaded', function() {
        let menuItems = document.querySelectorAll('.with-submenu');

        menuItems.forEach(function(item) {
            item.addEventListener('click', function() {
                let submenu = this.querySelector('ul');
                submenu.classList.toggle('show-submenu');
            });
        });
    });
</script>
</html>
