<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Mis participantes</title>
</head>
<body>
<table th:if="${materiales?.size() > 0}">
  <tr>
    <th>Nombre</th>
    <th>Descripción</th>
    <th>Tipo de Material</th>
    <th>Disciplina a la que pertenece</th>
    <th>Autores</th>
    <th>Estado de aprobación</th>
  </tr>
  <tr th:each="material : ${materialesParticipantes}">
    <td th:text="${material.titulo}"></td>
    <td th:text="${material.descripcion}"></td>
    <td th:text="${material.tipoMaterial}"></td>
    <td th:text="${material.disciplina}"></td>
    <td th:text="${material.autores}"></td>
  </tr>
</table>
<p th:unless="${materiales?.size() > 0}">Todavia no participa ningun material</p>
</body>
</html>