<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Materiales participantes</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<h1>Materiales participantes</h1>
<h2 th:if="${edicion != null}" th:text="'Edición: ' + ${edicion}">Edición: </h2>
<h2 th:if="${edicion == null}">No hay ningún concurso vigente</h2>
<p th:if="${message != null}" th:text="${message}"></p>
<table th:if="${edicion != null and materialesParticipantes?.size() > 0}">
    <tr>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Tipo de Material</th>
        <th>Disciplina a la que pertenece</th>
        <th>Autores</th>
        <th>Descargar</th>
        <th>Likes</th>
        <th></th>
    </tr>
    <tr th:each="material : ${materialesParticipantes}">
        <td th:text="${material.titulo}"></td>
        <td th:text="${material.descripcion}"></td>
        <td th:text="${material.tipoMaterial}"></td>
        <td th:text="${material.disciplina}"></td>
        <td th:text="${material.autores}"></td>
        <td><a th:href="@{'/download/' + ${material.id}}">Descargar</a></td>
        <td th:text="${material.likes}"></td>
        <td>
            <form th:action="@{/materiales-participantes/{idmaterial}/like(idmaterial=${material.id})}" method="post">
                <button type="submit">Like</button>
            </form>
        </td>
    </tr>
</table>
<p th:if="${edicion != null}" th:unless="${materialesParticipantes?.size() > 0}">Todavia no participa ningun material</p>
</body>
</html>
