<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mis materiales postulados</title>
</head>
<body>
<table th:if="${materiales.size() > 0}">
    <tr>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Tipo de Material</th>
        <th>Disciplina a la que pertenece</th>
        <th>Autores</th>
        <th>Estado de aprobación</th>
    </tr>
    <tr th:each="material : ${materiales}">
        <td th:text="${material.titulo}"></td>
        <td th:text="${material.descripcion}"></td>
        <td th:text="${material.tipoMaterial}"></td>
        <td th:text="${material.disciplina}"></td>
        <td th:text="${material.autores}"></td>
        <td th:if="${material.aprobado == null}">Pendiente</td>
        <td th:if="${material.aprobado == true}">Aprobado</td>
        <td th:if="${material.aprobado == false}">No aprobado</td>
    </tr>
</table>
<p th:unless="${materiales.size() > 0}">No tienes materiales postulados.</p>
</body>
</html>