<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Panel del Concursante</title>
    <link rel="stylesheet" th:href="@{/css/panel.css}">
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            let menuItems = document.querySelectorAll('.with-submenu');

            menuItems.forEach(function(item) {
                item.addEventListener('click', function() {
                    let submenu = this.querySelector('ul');
                    submenu.classList.toggle('show-submenu');
                });
            });
        });
    </script>
</head>
<body>
<div class="header">
    <span>Bienvenido Concursante!</span>
</div>

<nav class="menu">
    <ul>
        <li class="with-submenu">
            <a href="#" target="_self" title="Materiales">Materiales</a>
            <ul>
                <li><a href="/concursante/postular-material" target="_self">Postular</a></li>
                <li><a href="/materiales-participantes" target="_self">Participantes</a></li>
                <li><a href="/concursante/mis-materiales" target="_self">Mios</a></li>
            </ul>
        </li>
        <li><a href="/concursante/profile" target="_self">Ver perfil</a></li>
        <li><a th:href="@{/concursante/logout}" target="_self">Cerrar Sesión</a></li>
    </ul>
</nav>
</body>
</html>
