<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Postular Material</title>
    <link rel="stylesheet" th:href="@{/css/form.css}">
</head>
<body>
<h1>Datos del material a postular</h1>
<form th:action="@{/concursante/postular-material}" th:object="${material}" method="post">
    <fieldset>
    <label for="titulo">Titulo:</label><br>
    <input type="text" th:field="*{titulo}" id="titulo" name="titulo"><br>
    <label for="descripcion">Descripción:</label><br>
    <input type="text" th:field="*{descripcion}" id="descripcion" name="descripcion"><br>
    <label for="tipoMaterial">Tipo de Material:</label><br>
    <input type="text" th:field="*{tipoMaterial}" id="tipoMaterial" name="tipoMaterial"><br>
    <label for="disciplina">Disciplina:</label><br>
    <input type="text" th:field="*{disciplina}" id="disciplina" name="disciplina"><br>
    <label for="autores">Autores:</label><br>
    <input type="text" th:field="*{autores}" id="autores" name="autores"><br>
    <button type="submit">Postular material</button>
    </fieldset>

    <div class="error-block" th:if="${#fields.hasErrors('*')}">
        <ul class="error-messages">
            <li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
        </ul>
    </div>
</form>
</body>
</html>